@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body{
    font-family: 'Reem Kufi', sans-serif;
}

main{
    width: 50%;

    background-color: cornflowerblue;
    border-radius: 7px;
    padding: 5px;
}

.valores{
    
}