@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

body{
    font-family: 'Reem Kufi', sans-serif;
}

h1{
    text-align: center;
}

main{
    width: 50%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

.valores{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}

button{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 13px;
    background-color: rgb(156, 187, 226);
    border-color: black;
}

button:hover{
    background-color:khaki;
}

h1:hover{
    text-decoration:underline;
}

.entrada{
    height: 35%;
    border-radius: 15px;
    border: 0.5px solid;
    padding-left: 15px;
    margin-bottom: 25px;
}